@media screen and (min-width: 320px) and (max-width: 481px) {
    body {
        /* background-color: red; */
        width: 100%;
    }
    
    .banner {
        height: 562px;
        background: url(/img/banner_bg_mobile.png);
        background-size: cover;
    }
    .header_nav a {
        font-size: 12px;
        width: 120px;
        line-height: 0px;
        margin-top: 10px;
        margin-left: 0px !important;
    }
    .header_nav a:hover {
        color: #A41C25;
    }
    .bi-dot {
        position: relative;
        display: inline !important;
        font-size: 35px;
        text-align: center;
        top: 9px;
        color: #A41C25;
    }
    .header_nav {
        width: 150px;
        height: 200px;
        border-radius: 10px;
        margin-top: 5px;
        background: none;
        margin-left: -20%;
    }
    .logo {
        width: 157.91px;
        height: 59px;
        background: url(/img/Grace-logo-WHITE-png\ mobile.png);
    }
    .navbar-toggler {
        margin-top: 15px !important; 
        font-size: 7px;
        border: 1px solid #A41C25;
        background-color: #A41C25;
        outline: none;
    }

    /* CONTENT  */
    .banner_content {
        width: 100%;
        height: 300px;
        margin-left: 0%;
        margin-top: 140px;
    }
    .banner_content h1 {
        font-size: 55px;
        line-height: 53px;
        height: 159px;
        width: 307px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .brief {
        font-size: 13px;
        line-height: 16px;
        width: 70%;
        height: 69px;
    }
    .verse {
        width: 20%;
        height: 23.61px;
        margin-left: 50%;
        margin-top: 15px;
        border: 0.5px solid #A41C25;
        filter: drop-shadow(0px 2px 2px #FAFAFA);
    }
    .verse p {
        width: 44px;
        height: 14px;
        margin-left: 20.02px;
        margin-top: 0px;
        font-size: 9.23869px;
    }

    /* SERMON */
    .live_sermon {
        width: 65%;
        height: 145%;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 15.25%;
        background: url(/img/live_sermon_bg_mobile.png);
        border-radius: 16px;
    }
    .play {
        width: 60%;
        height: 130%;
        margin-left: 20%;
        margin-top: -16%;
        background-image: url(/img/play_live_mobile.png);
    }
    .bar1 {
        width: 158px;
        height: 21px;
        margin-top: 15px;
    }
    .dot_box1 {
        background-image: url(/img/dotted_box_mobile.png);
        width: 18.5%;
        height: 80px;
        margin-left: 83%;
        margin-top: 0px;
    }

    /* PROMISES */
    .promise_left {
        border-right: none;
    }
    .promise_right {
        border-left: none;
    }
    .promises {
        width: 105%;
        height: 240px;
        color: white;
        margin-top: 2%;
    }
    .promise1 { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 110px;
        width: 100%;
        margin-left: 0%;
        margin-top: 0%;
    }
    .promise1::after {
        content: '';
        display: block;
        margin-left: 30% !important;
        margin-right: 30% !important;
        border: 2px solid white;
        width: 40%;
    }
    .promise1 h3 {
        color: white !important;
        margin-left: 0px !important;
        width: 100%;
    }
    .promises h3 {
        width: 100%;
        height: 20px;
        font-size: 18px;
        line-height: 18px;
        color: white !important;
        margin-left: 0px;
        text-align: center;
    }
    .promises p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 70%;
        height: 45px;
        font-size: 10px;
        line-height: 15px;
        color: white !important;
    }
    .promise2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 120px;
        width: 100%;
        margin-top: -4%;
        padding-top: 5%;
        margin-left: 0%;
    }
    .divider {
        clip-path: circle(15px at 30px 30px);
        margin-top: -37%;
        margin-left: 43%;
        padding-top: 10px;
        margin-bottom: 19.4%;
    }
    .bi-quote {
        margin-left: -2.3%;
        margin-top: 50%;
        font-size: 25px;
    }

    /* MISSION STATEMENT */
    .statement_container {
        margin-top: 0px !important;
        height: 1400px;
    }
    .statement_container h2 {
        width: 100%;
        margin-left: 0px;
        margin-top: 2%;
        font-size: 18px;
        line-height: 38px;
    }
    .statement_container h2::after{
        border: 2px solid #4D4343;
    }
    .statements {
        width: 80%;
        height: 100% !important;
        margin-left: 10%;
        margin-top: 10%;
    }
    .mission,
    .vision,
    .ministry {
        width: 100%;
        height: 80%;
        margin-left: 0px;
        border: 4px solid #4D4343;
        box-shadow: 0px 2px 2px 0.5px #A41C25;
        border-radius: 0px 15px;
        margin-bottom: 5%;
    }   
    .mission h3,
    .vision h3,
    .ministry h3 {
        width: 100%;
        margin-left: 0px;
        margin-top: 0%;
        font-size: 18px;
        text-align: center;
    }
    .mission p,
    .vision p,
    .ministry p {
        width: 90%;
        height: 70%;
        margin-left: 5%;
        margin-top: -5%;
        font-size: 12px;
        text-align: center;
    }   
    .beliefs {
        width: 100%;
        height: 100%;
        margin-left: 0px;
        margin-top: 0px;
        border: 4px solid #4D4343;
        box-shadow: 0px 2px 2px 0.5px #A41C25;
        margin-bottom: 5% !important;
        border-radius: 0px 7.5px;
    }
    .beliefs h3 {
        width: 100%;
        margin-left: 0px;
        margin-top: 0%;
        font-size: 18px;
        text-align: center;
    }
    .beliefs ul {
        width: 100%;
        height: 93%;
        margin-left: -3%;
        margin-top: 0%;
        font-size: 12px;
    }
    .core_values {
        width: 100%;
        margin-left: 0px;
        margin-top: 5%;
        border: 4px solid #4D4343;
        box-shadow: 0px 2px 2px 0.5px #A41C25;
        border-radius: 0px 7.5px;
    }
    .core_values h3 {
        width: 100%;
        margin-left: 0px;
        margin-top: 0%;
        font-size: 18px;
        text-align: center;
    }
    .value_lists {
        margin-left: 0%;
        width: 100% !important;
        font-size: 12px;
    }
    .value_lists ul {
        margin-left: -8px;
    }
    .listA ul{
        margin-left: -30px;
    }
    .list1 {
        padding-left: 0%;
    }
    .bar2 {
        width: 158px;
    }
    .dot_box2 {
        background-image: none;
        margin-left: 0px;
    }
    
    /* UPPER ROOM  */
    .upper_room_container {
        margin-bottom: 0px !important;
        width: 100%;
        margin-left: 0%;
        margin-top: 15%;
        margin-bottom: 5%;
    }
    .upper_room {
        width: 150%;
        height: 80px;
        margin-left: -9px;
        margin-top: -6px;
        background: url(/img/pray_pic_mobile.png);
    }
    .upper_room_frame {
        width: 18%;
        height: 80px;
        border: 2px solid #A41C25;
    }
    .upper_room_content {
        width: 82%;
        height: 85px;
        padding-left: 5%;
    }
    .upper_room_content h3 {
        width: 70%;
        height: 38px;
        font-size: 18px;
        line-height: 18px;
    }
    .information {
        width: 100%;
    }
    .upper_room_info {
        width: 100%;
        height: 40px;
        font-size: 10px;
    }
    .upper_room_info p {
        width: 87%;
        height: 35px;
        font-size: 15px;
        line-height: 13px;
        margin-top: -2%;
        margin-left: -4%;
    }
    .upper_room_link {
        width: 69px;
        height: 34px;
        margin-left: 85% !important;
        margin-top: -20% !important;
        background: url(/img/google_meet_image_mobile.png);
    }
    .seperate {
        border-left: none;
        border-top: 3px solid #4D4343;
        padding-left: 0px;
        margin-top: 10px;
        padding-top: 15px;
    }
    .welcome {
        width: 50%;
        margin-left: 25%;
    }
    .welcome h3 {
        width: 100%;
        height: 76px;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        margin-left: 0px !important;
    }
    
    /* PROGRAMS */
    .programs {
        margin-left: 0px;
    }
    .programs_divider {
        width: 35%;
        border-left: 5px solid #4D4343;
        margin-top: 0%;
        margin-left: 32.5%;
        height: 23px;
        text-align: center;
        margin-bottom: 5%;
    }
    .soak .programs_divider {
        margin-left: 35%;
        width: 30%;
    }
    .grace p,
    .charis p,
    .soak p {
        width: 80%;
        font-size: 15px;
        line-height: 13px;
        text-align: center;
        margin-left: 10%;
        margin-top: 3%;
    }
    .grace h3,
    .charis h3,
    .soak h3 {
        width: 100%;
        font-size: 18px;
        line-height: 22px;
        margin-left: 0px;
    }
    .charis {
        margin-top: 0px;
    }
    .soak {
        margin-top: 0px;
    }

    /* CAROUSEL */
    .carousel_container {
        height: 820px;
        margin-top: 0px;
    }
    .carousel_container h3 {
        width: 100%;
        margin-left: 0%;
        margin-top: 3%;
        font-size: 18px;
        text-align: center;
    }
    .carousel_main {
        width: 100%;
        margin-left: 0% !important;
        height: 605px;
    }
    .carousel-control-prev,
    .carousel-control-next {
        width: 50px;
        margin-left: -10px !important;
        margin-right: -10px !important;
    }
    .bar3 {
        width: 50px;
        margin-left: 0px !important;
    }
    .bar4 {
        width: 50px;
        margin-left: 90%;
        margin-top: 10px;
    }
    .dot_box3 {
        background-image: url(/img/dotted_box_mobile.png);
        width: 18.5%;
        height: 80px;
        margin-left: 80%;
        margin-top: -25%;
    }
    .carousel_large {
        display: none;
    }
    .carousel_mobile {
        display: block !important;
    }
    .carousel_mobile img {
        margin-bottom: 12px;
    }
    
    /* LISTEN  */
    .listen_container {
        height: 100%;
        width: 100%;
    }
    .listen {
        width: 80%;
        height: 138px;
        box-shadow: 0px 2px 2px #F81A29;
        border-radius: 7px;
        margin-left: 10%;
    }
    .testimonies_list {
        height: 100%;
    }
    .listen_message h3 {
        width: 100%;
        margin-left: 2%;
        margin-top: 10%;
        font-size: 18px;
    }
    .listen_message p {
        width: 70%;
        margin-left: 2%;
        margin-top: 0px;
        font-size: 12px;
        line-height: 13px;
    }
    .radio_link {
        width: 100px;
        height: 100px;
        margin-right: 0px;
        margin-top: 20px;
        border-radius: 4px;
        margin-left: -5px;
    }
    .earphone {
        width: 70px;
        height: 60px;
        margin-top: 10px;
        margin-left: 5px;
    }
    .speaker {
        margin-left: 25px;
        width: 30px;
        height: 30px;
        margin-top: -10px;
    }
    .testimonies {
        height: 100%;
        padding: 0px 0px;
        margin-top: 20px;
    }
    .testimonies1 {
        width: 50%;
        height: 100%;
    }
    .testimonies1 img {
        width: 10%;
        margin-top: 2%;
        height: 20px;
    }
    .testimonies1 p {
        width: 90%;
        height: 100%;
        margin-left: 3%;
        margin-top: 5%;
        font-size: 12px;
        line-height: 15px;
    }
    .testimonies1 .testimony_name {
        width: 90%;
        height: 23px;
        font-size: 12px;
    }
    .testimonies1 .testimony_name2 {
        width: 90%;
        height: 23px;
        font-size: 12px;
        margin-top: 4%;
    }
    .test_button_prev,
    .test_button_next {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    /* MUSIC & DISCIPLINSHIP JOURNEY */
    .disciplinship_container {
        width: 100%;
        height: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .grace_music {
        width: 95%;
        height: 235px;
        margin-left: 2.5%;
        background: url(/img/grace_music_mobile.png);
        border-radius: 7px;
        background-size: cover;
    }
    .grace_music_label {
        width: 80%;
        height: 50% !important;
        margin-left: 10% !important;
        margin-top: 14%;
    }
    .grace_music_label h3 {
        width: 100%;
        font-size: 18px;
        margin-left: 0px;
        text-align: center;
    }
    .grace_music_label img {
        margin-top: 10%;
        margin-left: 13%;
    }
    .yt_play {
        margin-left: -19.5%;
    }
    .yt {
        margin-left: 68%;
    }
    .register_container {
        padding: 30px 0px 30px 0px;
    }
    .register_container h3 {
        width: 100%;
        font-size: 18px;
        margin-left: 0px;
        text-align: center;
    }
    .register_container p {
        width: 100%;
        font-size: 15px;
        margin-left: 0px;
        text-align: center;
    }
    .register_container iframe {
        width: 90%;
        height: 178px;
        margin-left: 5%;
    }
    .Curriculum {
        width: 100%;
    }
    .Curriculum h3  {
        width: 100%;
        margin-top: 5%;
        font-size: 18px;
        margin-left: 0px;
        text-align: center;
    }
    .Curriculum p {
        width: 70%;
        margin-top: 0px !important;
        font-size: 15px;
        text-align: center;
        margin-left: 15%;
    }
    .Curriculum button {
        width: 50%;
        height: 43px;
        margin-left: 25%;
        margin-top: 0px;
        border-radius: 3px;
    }
    .bar5 {
        width: 70px;
        margin-left: 84% !important;
        margin-top: 10% !important;
    }
    .bar6 {
        width: 70px;
        margin-left: 0px;
    }

    /* PASTORS */
    .pastors_container {
        width: 100%;
        height: 1323px;
        padding-top: 5%;
        margin-bottom: 5%;
    }
    .pastors_container h3 {
        width: 100%;
        margin-left: 0px;
        font-size: 18px;
        text-align: center;
    }
    .pastors {
        width: 100%;
        height: 1200px;
        margin-left: 0px;
    }
    .pastor_tolu_info {
        width: 100%;
    }
    .pastor_tolu p,
    .pastor_funke p {
        width: 100%;
        font-size: 12px;
        margin-left: 0px;
    }
    .pastor_tolu span,
    .pastor_funke span {
        width: 100% !important;
        font-size: 15px;
        margin-left: 0px;
    }
    .pastor_funke_image {
        margin-top: -136%;
        height: 100%;
        margin-left: 76%;
    }
    .pastor_funke_info {
        margin-top: 160px;
        width: 100%;
    }
    .pastor_funke img {
        margin-left: 0px !important;
    }
    .bar7 {
        width: 70px;
        margin-left: 85%;
        margin-bottom: 5%;
    }

    /* WEEKLY NUGGETS */
    .spiritual_hunger {
        height: 465px;
        width: 100%;
        margin-left: 0%;
    }
    .spiritual_hunger1,
    .spiritual_hunger2,
    .spiritual_hunger3 {
        margin-top: -24%;
        margin-left: -7%;
        width: 45%;
        height: 100px;
        border-bottom: 11px solid #A41C25;
    }
    .spiritual_hunger1 {
        background: url(/img/spiritual_hunger1_mobile.png);
    }
    .spiritual_hunger2 {
        background: url(/img/spiritual_hunger2_mobile.png);
    }
    .spiritual_hunger3 {
        background: url(/img/spiritual_hunger3_mobile.png);
    }
    .spiritual_hunger1_verse {
        width: 100%;
        height: 95px;
        margin-top: 10%;
        margin-left: 3%;
        box-shadow: 0px 2px 2px rgba(164, 28, 37, 0.44);
        border-radius: 0px 10px 10px 0px;
        margin-bottom: 5%;
    }
    .spiritual_hunger1_verse h3 {
        width: 60%;
        height: 46px;
        margin-left: 155px;
        font-size: 15px;
        line-height: 20px;
        padding-left: 3%;
    }
    .spiritual_hunger1_verse p {
        width: 60%;
        margin-left: 155px;
        font-size: 12px;
        padding-left: 3%;
    }
    .key_nuggets {
        width: 100%;
        height: 602px;
        margin-left: 0px;
        box-shadow: 0px 2px 2px rgba(164, 28, 37, 0.44);
    }
    .key_nuggets_header {
        width: 100%;
        height: 42px;
        padding-top: 2px;
    }
    .key_nuggets_header h3,
    .spiritual_hunger_header {
        width: 100%;
        margin-left: 0px;
        font-size: 18px;
        text-align: center;
    }
    .key_nuggets ul li {
        width: 95%;
        font-size: 15px;
        margin-bottom: 5%;
    }
    .subscribe {
        width: 80%;
        margin-left: 10%;
        margin-top: 5%;
        margin-bottom: 5%;
        padding-top: 2.5%;
    }
    .subscribe p {
        width: 60%;
        height: 23px;
        margin-left: 2%;
        font-size: 15px;
    }
    .bi-send-fill {
        font-size: 18px;
        margin-left: 5px !important;
    }

    /* FOOTER  */
    .dot_box4 {
        background-image: url(/img/dotted_box_mobile.png);
        width: 65px;
        height: 60px;
        margin-left: 83%;
        margin-top: -10%;
    }
    .foot_container {
        width: 100%;
        height: 1030px;
    }
    .foot_info {
        height: 430px;
        width: 100%;
        margin-left: 0%;
    }
    .foot_info h3 {
        width: 100%;
        font-size: 18px;
        margin-left: 0% !important;
        margin-top: 3%;
        text-align: center;
    }
    .foot_info p {
        width: 100%;
        font-size: 12px;
        margin-left: 0px;
        line-height: 20px;
    }
    .benediction h3 {
        width: 50%;
        margin-left: 0px !important;
        text-align: left;
    }
    .benediction p {
        width: 80%;
    }
    .benediction span a {
        margin: 5%;
    }
    .socials {
        margin-left: 0%;
        width: 80%;
        text-align: center;
    }
    .location h3 {
        width: 100%;
        margin-left: 0px;
        text-align: right;
    }
    .location p {
        margin-left: -20%;
        width: 120%;
        text-align: right;
    }
    .mail {
        margin-left: -70% !important;
        width: 170% !important;
    }
    .foot_form {
        height: 471px;
        width: 100%;
    }
    .form_container {
        width: 98%;
        height: 471px;
        margin-left: 1%;
    }
    .foot_form h3 {
        width: 100%;
        height: 36px;
        margin-left: 0px;
        margin-top: 5%;
        font-size: 18px;
        text-align: center;
    }
    .foot_form p {
        width: 100%;
        height: 23px;
        margin-left: 0px;
        font-size: 15px;
        text-align: center;
    }
    .foot_container form {
        margin-left: 0px;
        width: 100%;
    }
    .foot_container form input {
        width: 90%;
        height: 33px;
        margin-bottom: 10px;
        margin-left: 5%;
    }
    .foot_container::placeholder {
        font-size: 15px;
    }
    .foot_container form textarea {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 20px;
    }
    .foot_container button {
        width: 90%;
        margin-left: 5%;
    }
    .copyright {
        width: 100%;
        height: 23px;
        margin-left: 0px;
        margin-top: 5%;
        font-size: 10px !important;
        line-height: 13px;
        text-align: center;
    }
    .copyright p {
        width: 100%;
        height: 23px;
        font-size: 10px;
    }
}